<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body id="cabinet">
	 <nav>
        <ul>
            <li><a href="./index.html">Головна</a></li>
            <li><a class="waves-effect waves-light btn modal-trigger login_out" href="#">Вихід</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons"></i></a>
        <div class="nav-wrapper">
            <ul>
                <li><a href="./index.html">Головна</a></li>
                <li><a href="#">Вихід</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="">
                <div class="">
                    <div class="row">
                        <div class="">
                            <div class="">
                                <h4>Sample text:</h4>
                                <p>Абстрактная фабрика похожа на строитель в том смысле, что может конструировать сложные объекты. Основное различие между ними в том, что строитель делает
                                    акцент на пошаговом конструировании объекта, а абстрактная фабрика - на создании семейств объектов (простых или сложных). Строитель возвращает продукт
                                    на последнем шаге, тогда как с точки зрения абстрактной фабрики продукт возвращается немедленно.</p>
                                <p>Паттерн компоновщик - это то, что часто создает строитель.</p>
                            </div>

                        </div>
                        <div class=""></div>
                    </div>

                </div>
                <div class="input-field col s6">
                    <div class="row">
                        <div class="col s12m12 l12">
                            <input type="range" min="0" max="100" step="1" value="12" id="fontSize">
                            <label for="fontSize">Font Size</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12m12 l12">
                            <select id="text-align">
                                <option value="0" disabled selected>Text Align</option>
                                <option value="right">right</option>
                                <option value="left">left</option>
                                <option value="justify">justify</option>
                                <option value="center">center</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <a class="waves-effect waves-light green z-depth-2 btn-style" id="commit_changes">Commit changes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style id="app"></style>



<script type="text/javascript" src="libs/jquery-3.1.0.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="libs/backbone.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/template" id="styleTemplate">
        p {
            font-family: <%- fontFamily %>;
            font-size: <%- fontSize %>;
            color : <%- color %>;
            text-align: <%- textAlign %>;
        }
        body {

        }
</script>

</body>
</html>